figure.container {
    width: 20%;
    height: 200px;
    overflow: hidden;
    position: relative;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    margin-bottom: 20px;
    border: 1px solid #eee;
    display: flex;
}

img {
    min-width: 100%;
    min-height: 100%;
    /* max-width: 200px; */

    position: absolute;
    /* text-align: center */
    /* transform: translate(-50%, -50%); */
}

figure div {
    opacity: 0;
    width: 25px;
    height: 25px;
    background-image: url(../../assets/images/like.png);
    background-size: cover;
    position: absolute;
    bottom: 0;
    right: 0;
    transition: .3s
}

.liked {
    opacity: 1;
}

figure:hover div:not(.liked) {
    opacity: .5;
    transition: .3s
}