figure.container {
    width: 20%;
    height: 200px;
    overflow: hidden;
    position: relative;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    margin-right: 4%;
    margin-bottom: 20px;
    border: 1px solid #eee;
    display: flex;

}

figure.container:nth-child(4n) {
    margin-right: 0;
}

img {
    min-width: 100%;
    min-height: 100%;
    /* max-width: 200px; */

    position: absolute;
    /* text-align: center */
    /* transform: translate(-50%, -50%); */
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: placeHolderShimmer2;
    animation-timing-function: linear;
    background: linear-gradient(to right, #f7f7f7 8%, #f1f1f1 38%, #f7f7f7 63%);
}

figure div {
    opacity: 0;
    width: 25px;
    height: 25px;
    background-image: url(../../assets/images/like.png);
    background-size: cover;
    position: absolute;
    bottom: 0;
    right: 0;
    transition: .3s
}

.liked {
    opacity: 1;
}

figure:hover div:not(.liked) {
    opacity: .5;
    transition: .3s
}

@media screen and (max-width: 768px) {
    figure.container {
        width: 45vw;
        height: 45vw;
        margin-right: 1%;
    }

    figure.container:nth-child(4n) {
        margin-right: 1%;
    }

    figure.container:nth-child(2n) {
        margin-right: 0;
    }
}

@keyframes placeHolderShimmer2 {
    0% {
        background-position: -150px 0;
    }

    100% {
        background-position: 150px 0;
    }
}